body {
    background: linear-gradient(70deg, rgba(2, 0, 36, 1) 0%, rgb(31, 31, 61) 0%, rgb(4, 86, 102) 100%);
}

.navbar {
    padding: 1rem;
    margin-bottom: 3em;

}

div {
    margin-bottom: .5em;

}

.card {
    border: 1px solid;
    margin-bottom: 1em;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f1f1f1;
}

img {
    padding: 1em;
    width: 100%;
    margin-top: 1em;
}

.card-title {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .card {
        width: 100%;
    }
}